.container {
  display: flex;
  align-items: center;
}

.menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: #333333;
  color: #fff;
}

.header {
  composes: header from './header.scss';
}

.title {
  composes: title from './header.scss';
}

.openButton {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #333333;
  border: 0;
  color: #fff;
  font-size: 1em;

  > span {
    margin: 12px;
  }
}

.closeButton {
  composes: openButton;
  background: #fff;
  color: #333333;
}

.menuItems {
  margin: 24px 0;

  a:link, a:active, a:visited {
    color: #fff;
  }

  h3 {
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/**
 * Screen specific
 */

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@media (min-width: $screen-md-min) {
  .menuItems {
    text-align: center;
  }
}

/**
 * Animations
 */

@keyframes menuEnterExit {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes menuItemAppear {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.menuEnter {
  animation-name: menuEnterExit;
  animation-duration: 0.5s;
}

.menuLeave {
  animation-name: menuEnterExit;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.menuItemAppear {
  animation-name: menuItemAppear;
  animation-duration: 0.5s;
}
