@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.masthead {
  padding: 10px 0 20px 0;
  background: $text-color;
  color: $body-bg;
  text-align: center;
}

.projectList {
  margin: 20px 0;
}